.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vh;
    height: 50vh;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px grey;
    background: white;
    position: center;
}

.blog > input {
    border-radius: 4px;
    border: 2px solid;
    outline: black;
    color: black;
    margin: 0.9rem 0;
    padding: 0.5rem 0 0.75rem;
    width: 80%;
    font-size: 1rem;
}

.blog > .button {
    background: #181818;
    border: 4px solid #181818;
    color: blanchedalmond;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 00.5rem;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}