.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 26%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px;
    background: dark;
    position: relative;
}

.profile>input {
    border-radius: 8px;
    border: 2px solid;
    outline: black;
    color: grey;
    margin: 0.9rem 0;
    padding: 0.5rem 0 0.75rem;
    width: 60%;
    font-size: 1rem;
}

.profile .image>input {
    border-radius: 8%;
    float: left;
    width: 190px;
    height: 190px;
    shape-outside: inset(20px 5px 30px 10px round 50px);
    background: lightgrey;
}

.profile>.button {
    background: gray;
    border: 1px solid #181818;
    color: dark;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 00.5rem;
    border-radius: 8%;
    outline: none;
    cursor: pointer;
}